body {
  font-family: "Century Gothic", "Lato", sans-serif; /*SCHRIFTARTEN */
}
a {
  text-decoration: none;
}
.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: 1px;
  background: rgb(194, 255, 165);
  text-align: top;
  padding: 0 2em;
}
.et-hero-tabs h1{
 
  top: 00px;
}
.et-slide1 { /*Tabs und About */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: 1px;
  background: rgb(194, 255, 175);
  text-align: top;
  padding: 0 2em;
}
.container {
  width: 100%;
  height: 100%;
  margin: auto;
 
}
.content-container {
  width: 42%;
  height: 70%;
  margin: auto;
 
  text-align: center;
}
.et-slide2 { /*Download*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: 1px;
  background: rgb(194, 265, 185);
  text-align: top;
  padding: 0 2em;
}
.p{
  font: Arial;
}
.et-slide3 { /*Kontakt*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  top: 1px;
  background: rgb(194, 275, 195);
  text-align: top;
  padding: 0 2em;
}

.et-slide1 h1,.et-slide2 h1, .et-slide3 h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
  position: relative;
  top: 50px;
  size: 90%;
  animation: fade-in linear forwards;
  animation-timeline: view(200px 00px);
  animation-delay: 3s;
  opacity: 1;
}






.et-slide1 h4 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  position: relative;
  text-align: center;
  top: -220px;
}

.et-slide2 h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  position: relative;
  top: -220px;
}

.et-slide3 h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  position: relative;
  top: -220px;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: rgb(151, 225, 150);
  z-index: 15;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab,
.et-hero-tab2,
.et-hero-tab3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover,
.et-hero-tab2:hover,
.et-hero-tab3:hover {
  color: rgb(21, 9, 15);
  background: rgba(171, 255, 167, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: rgb(135, 208, 136);
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }

  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab,
  .et-hero-tab2,
  .et-hero-tab3 {
    font-size: 1rem;
  }
}